/* colors  */
html{
    scroll-behavior: smooth;
  }
  
  /* Reset  */
  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
  }
  
  body{
    -webkit-font-smoothing:antialiased;
  }
  .container {
    width:100%;
    padding:o 15px;
    margin:0 auto;
    justify-content: space-evenly;
  }
  
  @media (min-width:576px){
    .container{
        max-width:540px;
    }
  
    
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
    
  }
  
  .main-wrapper{
      position:relative;
      width:100%;
      height:100vh;
      overflow:hidden;
  }
  
  .nav-background{
      width:100%;
      height:100%;
      background:#F0F0F0;
      position: absolute;
      top:0;
      left:0;
      padding:0;
      z-index:1;
  }
  
  .nav-trigger{
      position: static;
      top:0;
      left:0;
      z-index:1;
      padding:15px;
      display:none;
  }
  
  .nav-trigger svg{
      transform:rotate(90deg) scaleX(-1);
      -webkit-transform:rotate(90deg) scaleX(-1);
      -moz-transform:rotate(90deg) scaleX(-1);
      -ms-transform:rotate(90deg) scaleX(-1);
      -o-transform:rotate(90deg) scaleX(-1);
      width:40px;
      height:40px;
  }
  .site-content-wrapper{
    width:100%;
    height:100%;
    position:absolute;
    background:#FFFFFF;
    z-index:2;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
  }
  
  .site-content-wrapper.scaled{
    transform:scale(0.9) translateX(90%);
    -webkit-transform:scale(0.9) translateX(90%);
    -moz-transform:scale(0.9) translateX(90%);
    -ms-transform:scale(0.9) translateX(90%);
    -o-transform:scale(0.9) translateX(90%);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    box-shadow:0 3px 10px 0 #232B38;
  }
  
  .site-content{
    width:100%;
    height:100%;
    overflow-x:auto;
  }
  
  .mobileLogOut{
    color: #d82525;
  }
  
  .userID{
    font-family: 'poppins';
  }
  
  header.topbar{
      background:#232B38;
      color:#FEFEFE;
      font-family:"Raleway-semibold";
      padding:0.75rem 0;
  }
  header.topbar .auth > div a{
      color:#FEFEFE;
      text-decoration: none;
  }
  header.topbar .icons a{
    margin-right:0.6rem;
  }
  header.topbar .auth .divider{
      padding:0 1rem;
  }
  header.topbar .auth > div img{
      margin-right:0.35rem;
  }
  .flex{
    display:flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .items-center{
      align-items: center;
  }
  nav .top{
      padding:1.5rem 0;
  }
  nav .top .contact h5,  nav .top .time h5{
      font-family:"Raleway-black";
      margin-bottom:0.25rem;
  }
  nav .top .contact h6, nav .top .time h6{
    font-family:"Raleway-medium";
    letter-spacing: 0.055rem;
    font-size:0.75rem;
    color:#6C6C6C;
  }
  nav .top .contact img, nav .top .time img{
    margin-right:1rem;
  }
  
  .justify-center{
    justify-content:center;
  }
  nav .navbar a{
    text-decoration:none;
    color:#232B38;
    font-family:"Raleway-semibold";
    font-size:1rem;
    padding:1rem 1.5rem;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
  }
  nav .navbar a.active{
    background:#38d39f;
    color:#FEFEFE;
  }
  nav .navbar a:hover{
    background:#38d39f;
    color:#FEFEFE; 
  }
  .magic-shadow{
    position: relative;
    background:#FFFFFF;
  }
  .magic-shadow:after{
    content:'';
    display:block;
    width:100%;
    height:69px;
    background-image:url(../Login/img/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-22px;
    z-index:-1;
    
  }
  .magic-shadow-sm{
    position: relative;
    background:#FFFFFF;
  }
  .magic-shadow-sm:after{
    content:'';
    display:block;
    width:100%;
    height:69px;
    background-image:url(../Login/img/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
    z-index:-1;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
  }
  
  .home-img{
    height:300px;
    width: 600px;
    float: right;
   }
.home-img , img {
    box-shadow: 14px 14px 12px #232B38;
    border-radius: 15px;
    transition: transform 1s;
}

.home-img:hover {
    cursor: grab;
    transform: translate(20px,10px);
}
header {
  background: linear-gradient(to right, white, rgb(236, 199, 120));
}

header.hero{
    height:600px;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow:hidden;
  }
  header.hero .container{
    position: relative;
  }
  header.hero .welcome{
    margin-bottom:0.25rem;
  }
  header.hero .welcome span{
    
    color:#232B38;
    margin-right:0.75rem;
  
  }
  header.hero h1{
    color:#232B38;
    font-size: 2.5rem;
    margin-bottom:0.75rem;
  }
  header.hero h1 span{
    color:#38d39f;
  }
  header.hero p{
    width:50%;
    line-height:1.5;
    margin-bottom:1rem;
  }
  
  .about-uss h1{
    color:#232B38;
    font-size: 2.5rem;
    margin-bottom:0.75rem;
    padding-bottom: 30px;
  }
  
  .about-uss span{
    color: #38d39f;
  }
  
  .btn{
    padding:0.75rem 0.75rem;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height:0.8;
    font-size:1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border:1px solid transparent;
  }
  
  .btn-primary {
    background:#38d39f;
    color:#FFFFFF;
  }
  .btn-primary:hover{
    background:#ffffff;
    color:#38d39f; 
    border:1px solid #38d39f;
  }
  
  .btn-secondary{
    background:#232B38;
    color:#FFFFFF; 
  }
  .btn-secondary:hover{
    background:#FFFFFF;
    color:#232B38; 
    border:1px solid #232B38;
  }
  
  header.hero button:first-child{
    margin-right:0.50rem;
  }
  
  header.hero .hero-image{
    position:absolute;
    top:-40px;
    right:40px;
    height: 50px;
    width: 50px;
    padding-right: 50px;
  }
  
  section{
    padding:4rem 0;
  }
  
  
  .section-heading{
    text-align:center;
    Position:relative;
    margin-bottom:6rem;
  }
  
  section.about-uss img{
    width:85%;
  }
  .flex-1{
    flex:1;
  }
  section.about-uss h2{
    font-family: "Raleway-bold";
    font-size:1.4rem;
    color:#232B38;
    margin-bottom:2rem;
    line-height:1.3;
  }
  section.about-uss p{
    line-height: 1.7;
    margin-bottom:4rem;
  }
  
  footer{
    background:#2D333F;
    padding:4rem 0;
    justify-content: space-evenly;
    position: static;
  }
  footer .container{
    display:flex;
    color:#FEFEFE;
  }
  
  footer .box{
    flex:1;
    margin-right:2rem;
    text-align:center;
    justify-content: space-evenly;
  }
  
  footer .box ul{
    list-style-type: none;
  }
  footer .box ul li a{
    color:#FEFEFE;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }
  footer .box ul li a:hover{
    color:#38d39f;
  }
  footer .box h3{
    border-bottom:1px solid #38d39f;
    padding-bottom:1rem;
    margin-bottom:1rem;
  }
  
  footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
  }
  footer .box ul li{
    margin-bottom:1rem;
  }
  
  footer.copyright{
    padding:1rem 0;
    background: #232B38;
    color:#FEFEFE;
    text-align: center;
    font-size: 0.75rem;
  }
  footer.copyright a{
    color:#38d39f;
    text-decoration: none;
  }
  
  #logout{
      color: #FE4545;
      font-family: 'poppins';
  }
  
  .navbar .container a{
    font-family: 'Poppins';
  }
  
  .nav-background .mobile-logo{
    padding:1rem;
  }
  .nav-background .mobile-nav{
    padding:1rem;
  }
  .nav-background .mobile-nav ul{
    list-style-type: none;
  }
  .nav-background .mobile-nav ul li{
    margin-bottom:1rem;
  }
  .nav-background .mobile-nav ul li a{
    text-decoration: none;
    color:#232B38;
    font-family: "Raleway-medium";
  }
  .nav-background .mobile-nav ul li a:hover{
    color:#38d39f;
  }
  .nav-background .contact, .nav-background .time{
    padding:1rem;
    padding-left:0;
  }
  .nav-background .contact img, .nav-background .time img{
    margin-right:1rem;
  }
  .nav-background .contact h5,.nav-background .time h5{
    margin-bottom:0.25rem;
    font-size:1rem;
  }
  .nav-background .contact h6, .nav-background .contact h6{
    font-size: 0.75rem;
  }
  .nav-background .cart{
    margin-bottom:2rem;
  }
  .nav-background .cart a{
    color:#232B38;
    text-decoration: none;
  }
  .nav-background .cart img{
    margin-right:0.75rem;
    width:20px;
    height:20px;
  }
  
  @media (max-width:992px){
    .nav-trigger{
        display:block;
    }
    header.topbar, nav{
        display:none;
    }
  
    header.hero {
        margin-top:-4rem;
    }
    header.hero .hero-image{
        right:-160px;
        top:100px;
    }
  }
  
  @media (max-width:768px){
    .about-uss .about-uss-wrap{
        flex-direction: column;
    }
    .about-uss .about-uss-wrap img{
        width:100%;
        margin-bottom: 2rem;
    }
  
    section.our-services .card-wrapper{
        flex-direction:column;
    }
    section.our-services .card-wrapper .service-card{
        margin-bottom:6rem;
    }
    footer .container{
        flex-direction: column;
    }
    footer .box{
        text-align: center;
        margin-right:0;
        margin-bottom:3rem;
    }
    footer .box:nth-child(3) h3{
        text-align:left;
    }
    footer .box:nth-child(3) > div{
        display:block;
    }
  }
  
  @media( max-width:576px){
    header.hero .hero-image{
        right:-235px;
        top:150px;
    }
    header.hero .container{
        padding-left:1rem;
    }
    header.hero{
        margin-top:-3rem;
    }
    section.big-deal .timer > div{
        margin-right:0.50rem;
    }
    section.big-deal .timer{
        margin-right:-0.5rem;
    }
  
    section.subscribe .container{
        flex-direction: column;
        padding:0.50rem;
    }
   
  }
  
  .iconLOGO{
      background-color: #ff0000;
      border-radius: 50%;
  }
.bc-pic {
    background: url(bc.jpg) no-repeat center center fixed;
    background-size: cover;
}
section {
    color: white;
    
}
  
  
  
