

{% block title %} PDFARE | Contact Us {% endblock%}


<body>
    <div class="main-wrapper">
        <div class="nav-background">
            <div class="mobile-logo">
                <img src="./icons/logo.svg" alt="">
            </div>
            <div class="mobile-nav">
                <div class="cart">
                    <div class="flex items-center">
                        <img src="./icons/cart-dark.svg" alt="">
                    </div>
                </div>
                <div class="nav-top">
                    <ul>
                        <li>
                            <a href="/home" style="color: #38d39f;">Home</a>
                        </li>
                        <li>
                            <a href="/download">Downloads</a>
                        </li>
                        <li>
                            <a href="/upload">Upload</a>
                        </li>
                        <li>
                            <a href="/home">About Us</a>
                        </li>
                        <li>
                            <a href="/contacts">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="time flex items-center">
                    <img src="./icons/clock.ssvg" alt="">
                    <div>
                        <a href="/logout" class="mobileLogOut">
                            <h5>Log Out</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content-wrapper">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                    <line x1="12" y1="20" x2="12" y2="10" />
                    <line x1="18" y1="20" x2="18" y2="4" />
                    <line x1="6" y1="20" x2="6" y2="16" />
                </svg>
            </div>
            <div class="site-content">
                <header class="topbar">
                    <div class="container flex justify-between items-center">
                        <div class="icons">
                            <p class="userID">Current User: {{user.first_name}}</p>
                        </div>
                        <div class="auth flex items-center">
                            <div>
                                <a id="logout" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </header>

                <nav>
                    <div class="navbar magic-shadow">
                        <div class="container flex justify-center">
                            <a href="/homehtml" class="navbar ">Home</a>
                            <a href="/download">Download</a>
                            <a href="/upload">Upload</a>
                            <a href="/home">About Us</a>
                            <a href="#" class="active">Contact Us</a>
                        </div>
                    </div>
                </nav> 
                
                <div class="space"></div>
            <div  class="bc-pic">
                <header class="hero flex items-center">
                    <div class="container whit">
                        <div id="homeScroll" class="welcome flex items-center">
                            <span style="font-size: 25px;">Contact</span>

                            <img src="./icons/logo-2.svg" alt="">
                        </div>
                        <img src="joanna-kosinska-uGcDWKN91Fs-unsplash.jpg" alt="" class="home-img">
                        <h1 style="font-size:60px;">PD<span>FARE</span></h1>
                        <div >
                            <p style="font-size: 25px;">At:<br><a href="mailto:abhinavmukherjee100@gmail.com" type="tel" style="color: #4CAF50; text-decoration: none;">PDF FARE MAIL</a></p>
                        </div>
                        
                        <div>
                            <button class="btn btn-primary" targe>Get PDFs</button>
                        </div>

                    </div>
                </header>

                <section class="about-uss" id="aboutUs">
                </section>

            </div>
                <footer>
                    <div class=" container">
                                    <div class="box">
                                        <h3>About us</h3>
                                        <p style="color: white;">It all Started with an idea of providing a simple platform where we all can exchange notes.</p>
                                        <button class="btn btn-secondary" onclick="location.href='../Login/about.php'">Read </button>
                                    </div>

                                    <div class="box">
                                        <h3>Quick Links</h3>
                                        <ul>
                                            <li>
                                                <a href="/home">Home</a>
                                            </li>
                                            <li>
                                                <a href="/download">Download</a>
                                            </li>
                                            <li>
                                                <a href="/upload">Upload</a>
                                            </li>
                                            
                                            <li>
                                                <a href="/home">Contact us</a>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="box">
                                        <h3 style="text-align: center;">Follow Us</h3>
                                        <ul>
                                            <li>
                                                <a href="https://github.com/abhinav-193" target="_blank">
                                                <i class='bx bxl-github'></i>
                                                    <span>Abhinav</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/SouravReal" target="_blank">
                                                <i class='bx bxl-github'></i>
                                                    <span>Aditya</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/RishiKr3110" target="_blank">
                                                    <i class='bx bxl-github'></i>
                                                    <span>Rishi</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/RishiKr3110" target="_blank">
                                                    <i class='bx bxl-github'></i>
                                                    <span>Mihir</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                            </div>
                            </footer>
                            <footer class="copyright">
                                <div>
                                    Made with love for HackOn2.0 by <a href="https://github.com/abhinav-193" target="_blank">PDFARE</a>
                                </div>
                            </footer>
                        </div>
                    </div>
            </div>





            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="../Login/mains.js"></script>


</body>

</html>