<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  
  <link rel="stylesheet" type="text/css" href="static/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  
   <img class="wave" src="static\assets\eberhard-grossgasteiger-xC7Ho08RYF4-unsplash.jpg">
  <div class="container">
    <div class="img">
      
      <img src="static\assets\Books-books-to-read-43713771-885-457.png">
    </div>
    <div class="login-content">
      <form action="" method="POST">
        <img src="static\assets\avatar.svg">
        <h2 class="title">Welcome</h2>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                    
                    <input type="email" placeholder="e-mail" id="email" name="email" />
                 </div>
              </div>
              <div class="input-div pass">
                 <div class="i"> 
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    
                    <input type="password" class="input" name="password" placeholder="password">
                 </div>
              </div>
              <a href="../Login/ForgetPass/enter_email.php">Forgot Password?</a>
              <input type="submit" class="btn" id="button" value="Log-in">
               <div class="form-footer">
            Don't have an account? <a href="/signup" class="ee" value="Sign-up">Sign Up</a>
            </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
   
   </div>
   <footer>
      <div class=" container">
         <div class="box">
            <h3>About us</h3>
            <p style="color: white;">It all Started with an idea of providing a simple platform where we all can exchange
               notes.</p>
            <button class="btn btn-secondary" onclick="location.href='../Login/about.php'">Read </button>
         </div>
   
         <div class="box">
            <h3>Quick Links</h3>
            <ul>
               <li>
                  <a href="#homeScroll">Home</a>
               </li>
               <li>
                  <a href="../file-upload-download/downloads.php">Download</a>
               </li>
               <li>
                  <a href="../file-upload-download/index.php">Upload</a>
               </li>
   
               <li>
                  <a href="../Login/contactUs.html">Contact us</a>
               </li>
   
            </ul>
         </div>
   
         <div class="box">
            <h3 style="text-align: center;">Follow Us</h3>
            <ul>
               <li>
                  <a href="https://github.com/abhinav-193" target="_blank">
                     <i class='bx bxl-github'></i>
                     <span>Abhinav</span>
                  </a>
               </li>
               <li>
                  <a href="https://github.com/itsjohnty" target="_blank">
                     <i class='bx bxl-github'></i>
                     <span>Aditya</span>
                  </a>
               </li>
               <li>
                  <a href="RishiKr3101" target="_blank">
                     <i class='bx bxl-github'></i>
                     <span>Rishi</span>
                  </a>
               </li>
               <li>
                  <a href="https://github.com/Mihir1107" target="_blank">
                     <i class='bx bxl-github'></i>
                     <span>Mihir</span>
                  </a>
               </li>
            </ul>
         </div>
   
      </div>
   </footer>
   <footer class="copyright">
      <div>
         Made with love for HackOn2.0 by <a href="https://github.com/abhinav-193" target="_blank">PDFARE</a>
      </div>
   </footer>
   </div>
   </div>
   </div>
  
   
</body>
</html>