<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="static\css\login.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <img class="wave" src="static\assets\eberhard-grossgasteiger-xC7Ho08RYF4-unsplash.jpg">
  <div class="container">
    <div class="img">
      <img src="static\assets\bg.svg">
    </div>
    <div class="login-content">
      <form action="" method="POST">
        <img src="static\assets\avatar.svg">
        <h2 class="title">Welcome</h2>
        <div class="input-div one">
                 <div class="i"> 
                    <i class="fas fa-user-friends"></i>
                 </div>
                 <div class="div">
                    <input type="text" class="input" name="firstName" id="firstName" placeholder="Name">
                 </div>
              </div>

              <div class="input-div pass">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>

                 <div class="div">
                    <input type="email" placeholder="  e-mail" id="email" name="email" class="input">
                 </div>
              </div>
             
               
              
              <div class="input-div pass">
                <div class="i"> 
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                   <input type="password" class="input" name="password1" id="password1" placeholder="password">
                </div>
            </div>

                <div class="input-div pass">
                    <div class="i"> 
                       <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                       <input type="password" class="input" name="password2" id="password2" placeholder="Re-enter password">
                    </div>
              </div>
              
             
             
              <input type="submit" class="btn" value="Sign-up">
               <div class="form-footer">
            Already have an account? <a href="/home" class="ee">Login</a>
            </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
    
     <script src="https://unpkg.com/scrollreveal"></script>
  
</body>
</html>
